.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-radius: 24px;

  font-family: inglobal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
