.container {
  display: flex;
  justify-content: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
    background-color: #6699cc;
    border-radius: 20px;
    font-family: Archive;
    font-weight: 400;
    color: #fff;
  }
}
